import React, { PropTypes } from 'react'
import pure from 'recompose/pure'

import * as selectors from '../selectors'

const propTypes = {}

const <%= _.pascal(componentName) %> = () =>
  <div>
  </div>

<%= _.pascal(componentName) %>.propTypes = propTypes

export default pure(<%= _.pascal(componentName) %>)
